/*$primary: #42ec9a;
$primary-dark: #0fcc7d;
$primary-darker: #00a868;
$primary-light: #5ffa40;*/
$primary: #f0141e;
$primary-dark: #cf0a14;
$primary-darker: #c30d0d;
$primary-light: #ee3942;
$black: #000000;
$dark: #202e40;
$white: #ffffff;
